*:not(img) {
    display: block;
    margin: 10px;
}

input[type="text"] {
    width: 250px;
}

#boardContainer {
    width: 496px;
    height: 496px;
    position: relative;
}

img {
    position: absolute;
}